all:
  vars:
    ceph_fsid: "dfdbbcb0-1fa2-485c-80e4-7827213ce3a3"
   #ceph_rbd_cache: "2048Mi"
   #ceph_rbd_cache_max: "1792Mi"
   #ceph_rbd_cache_target: "1536Mi"
    ceph_release: "distro"
    ceph_ipv6_only: false

    incus_name: "baremetal"
    incus_release: "stable"

    linstor_pool_name: "incus"
    linstor_pool_driver: "lvmthin"

    lvmcluster_name: "baremetal"

    ovn_name: "baremetal"
    ovn_az_name: "zone1"
    ovn_release: "distro"
  children:
    baremetal:
      vars:
       #ansible_connection: community.general.incus
       #ansible_incus_remote: local
       #ansible_user: root
       #ansible_become: no
       #ansible_incus_project: dev-incus-deploy

        ceph_roles:
          - client
          - osd

        incus_init:
          network:
            LOCAL:
              type: macvlan
              local_config:
                parent: enp5s0
              description: Directly attach to host networking
            UPLINK:
              type: physical
              config:
                ipv4.gateway: "172.31.254.1/24"
                ipv6.gateway: "fd00:1e4d:637d:1234::1/64"
                ipv4.ovn.ranges: "172.31.254.10-172.31.254.254"
                dns.nameservers: "1.1.1.1,1.0.0.1"
              local_config:
                parent: enp6s0
              description: Physical network for OVN routers
            default:
              type: ovn
              config:
                network: UPLINK
              default: true
              description: Initial OVN network
          storage:
            local:
              driver: zfs
              local_config:
                source: "/dev/disk/by-id/nvme-QEMU_NVMe_Ctrl_incus_disk3"
              description: Local storage pool
            remote:
              driver: ceph
              local_config:
                source: "incus_{{ incus_name }}"
              description: Distributed storage pool (cluster-wide)

        incus_roles:
          - cluster
          - ui

        ovn_roles:
          - host
      hosts:
        incus1:
          ansible_host: 192.168.100.211
          ceph_ip_address: 192.168.66.11
          ceph_network_public: 192.168.100.0/24
          ceph_network_private: 192.168.66.0/24
          ceph_disks:
            - data: scsi-0QEMU_QEMU_HARDDISK_drive-scsi1
            - data: scsi-0QEMU_QEMU_HARDDISK_drive-scsi2
          ceph_roles:
            - client
            - mon
            - osd
            - mgr
           #- mds

          ovn_roles:
            - central
            - host

        incus2:
          ansible_host: 192.168.100.212
          ceph_ip_address: 192.168.66.12
          ceph_network_public: 192.168.100.0/24
          ceph_network_private: 192.168.66.0/24
          ceph_disks:
            - data: scsi-0QEMU_QEMU_HARDDISK_drive-scsi1
            - data: scsi-0QEMU_QEMU_HARDDISK_drive-scsi2
          ceph_roles:
            - client
            - mon
            - osd
            - mgr
           #- mds

          ovn_roles:
            - central
            - host

        incus3:
          ansible_host: 192.168.100.213
          ceph_ip_address: 192.168.66.13
          ceph_network_public: 192.168.100.0/24
          ceph_network_private: 192.168.66.0/24
          ceph_disks:
            - data: scsi-0QEMU_QEMU_HARDDISK_drive-scsi1
            - data: scsi-0QEMU_QEMU_HARDDISK_drive-scsi2
          ceph_roles:
            - client
            - mon
            - osd
            - mgr
           #- mds

          ovn_roles:
            - central
            - host

