# SPDX-License-Identifier: Apache-2.0
---
- name: Create apt keyring path
  ansible.builtin.file:
    path: /etc/apt/keyrings/
    mode: "0755"
    state: directory
  when: 'incus_roles|length > 0 and incus_release != "distro" and ansible_distribution in ("Ubuntu", "Debian")'

- name: Add Zabbly repository key
  ansible.builtin.get_url:
    url: "https://pkgs.zabbly.com/key.asc"
    dest: "/etc/apt/keyrings/ansible-zabbly.asc"
    mode: "0644"
  notify: Update apt
  when: 'incus_roles|length > 0 and incus_release != "distro" and ansible_distribution in ("Ubuntu", "Debian")'

- name: Get DPKG architecture
  ansible.builtin.command: dpkg --print-architecture
  register: dpkg_architecture
  changed_when: false
  check_mode: false
  when: 'incus_roles|length > 0 and incus_release != "distro" and ansible_distribution in ("Ubuntu", "Debian")'

- name: Add Zabbly package source
  ansible.builtin.template:
    src: incus.sources.j2
    dest: /etc/apt/sources.list.d/ansible-zabbly-incus-{{ incus_release }}.sources
    mode: "0644"
  notify: Update apt
  when: 'incus_roles|length > 0 and incus_release != "distro" and ansible_distribution in ("Ubuntu", "Debian")'

- name: Add debian repo
  deb822_repository:
    name: ansible-debian-contrib
    types: deb
    uris: http://deb.debian.org/debian
    signed_by: /usr/share/keyrings/debian-archive-keyring.gpg
    suites:
      - "{{ ansible_distribution_release }}"
      - "{{ ansible_distribution_release }}-updates"
    components:
      - contrib
  notify: Update apt

- name: Add debian-security repo
  deb822_repository:
    name: ansible-debian-contrib-security
    types: deb
    uris: http://security.debian.org/debian-security
    signed_by: /usr/share/keyrings/debian-archive-keyring.gpg
    suites:
      - "{{ ansible_distribution_release }}-security"
    components:
      - contrib
  notify: Update apt

- name: Force the handler executions
  ansible.builtin.meta: flush_handlers
